.contact{
    width: 70%;
    margin: auto;
    padding-bottom:20px;
    color: white;
    line-height: 25px;
}

.contact h2{
    margin-bottom: 50px;
}

.contact h3{
    color: white;
}

.contact-icon{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.contact-icon .icon{
    text-align: center;
    margin-bottom: 25px;
}

.contact-icon a{
    color: white;
}

/* Contact icons will change color when hovered over */
.contact-icon a:hover{
    color: gray;
    transition: .5s;
}

/* resizing fontawesome icons */
.icon i{
    font-size: xx-large;
}

/* mobile styling */
@media(max-width: 600px){
    .contact{
        width: 80%;
    }
}