/* Applies to all elements */
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* Applying google font and repeating background to entire page */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./images/what-the-hex-dark.png) repeat;
  height: calc(100vh - 80px);
}

/* Changing font size for h2 tags and adding decoration */
body h2{
  font-size: 28px;
  text-decoration: underline gray;
}


/* mobile styling for links to remove decoration */
@media(max-width: 600px){

  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
  }
}


